.advantages {
	padding-top: 37px;
}

.advantages__slogan {
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	color: #283645;
	padding: 0 36px 28px;
	text-align: center;
	background-color: #ffffff;
}

.advantages__list {
	max-width: 940px;
	margin: 0 auto;
	position: relative;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}

.advantages__wrapper {
	position: relative;
	padding-top: 85px;
	background-color: $bg-lightgrey;
}

.advantages__bg {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.advantages__item {
	text-align: center;
}

@media (max-width: $tablet-width-before) {
	.advantages__list {
		padding-bottom: 286px;
		overflow: hidden;
	}

	.advantages__item:nth-child(3) .advantages__image {
		position: absolute;
		bottom: -43px;
		left: calc(50% - 78px);
	}
}

.advantages__title {
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
}

.advantages__description {
	margin: 0;
	padding: 10px 20px 33px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #283645;
}

@media (max-width: $tablet-width-only) {
	.advantages__item:nth-child(1),
	.advantages__item:nth-child(2) {
		.advantages__image {
			display: none;
		}
	}
}

@media (min-width: $tablet-width) {
	.advantages__slogan {
		font-size: 40px;

		&--first {
			padding: 21px 36px 0;
		}

		&--second {
			padding: 12px 40px 50px;
			line-height: 46px;
		}
	}

	.advantages__item {
		text-align: left;
	}

	.advantages__wrapper {
		padding-top: 0;
	}

	.advantages__description {
		padding: 10px 10px 36px 0;
	}
}

@media (min-width: $desktop-width) {
	.advantages {
		padding-top: 60px;
	}

	.advantages__slogan {
		font-size: 50px;

		&--second {
			padding: 17px 83px 75px;
			line-height: 60px;
			margin: 0 167px;
		}
	}

	.advantages__list {
		flex-direction: row;
	}

	.advantages__item {
		text-align: center;
	}

	.advantages__title {
		font-size: 30px;
		line-height: 30px;
	}

	.advantages__description {
		font-size: 18px;
		line-height: 30px;
	}
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
	.advantages__list {
		padding-top: 74px;
		padding-left: 50%;
		text-align: left;
	}

	.advantages__item:nth-child(3) .advantages__image {
		position: absolute;
		bottom: -10px;
		left: 3%;
	}
}
