.advantages {
	max-width: 940px;
	margin: 0 auto;
	padding-top: 45px;
}

.advantages__slogan {
	margin: 0;
	font-size: 24px;
	font-weight: 300;
	color: #283645;
	padding: 20px 55px 35px;
	text-align: center;
	background-color: #ffffff;
}

.advantages__list {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: $bg-lightgrey;
	list-style: none;
	display: flex;
	flex-direction: column;
}

.advantages__item {
	text-align: center;
}

@media (max-width: $tablet-width-before) {
	.advantages__list {
		padding-bottom: 265px;
		overflow: hidden;
	}

	.advantages__item:nth-child(3) .advantages__image {
		position: absolute;
		bottom: -35px;
		left: calc(50% - 80px);
	}
}

.advantages__title {
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
}

.advantages__description {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 45px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #283645;
}

@media (max-width: $tablet-width-only) {
	.advantages__item:nth-child(1),
	.advantages__item:nth-child(2) {
		.advantages__image {
			display: none;
		}
	}
}

@media (min-width: $tablet-width) {
	.advantages__slogan {
		font-size: 40px;
	}

	.advantages__item {
		text-align: left;
	}
}

@media (min-width: $desktop-width) {
	.advantages__list {
		flex-direction: row;
	}

	.advantages__item {
		text-align: center;
	}
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
	.advantages__list {
		padding-top: 100px;
		padding-left: 50%;
		text-align: left;
	}

	.advantages__item:nth-child(3) .advantages__image {
		position: absolute;
		bottom: 0;
		left: 5%;
	}
}
