.applications {
	width: 100%;
	position: relative;
	color: #ffffff;
}

.applications__image {
	width: 258px;
	padding-top: 100px;
	display: block;
	margin: 0;
}

.applications__install {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	width: 100%;
	background-color: #1d2631;
}

.applications__install__button {
	display: flex;
	border-radius: 30px;
	border: 3px solid white;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: none;
	padding: 15px 35px;
	margin: 20px auto;
	background-color: #1d2631;
	color: #ffffff;
	justify-content: center;
	text-align: center;

	&:hover {
		background-color: #ffffff;
		color: #d22856;
	}

	&:active {
		color: rgba(210, 40, 86, 0.3);
	}
}

.applications__install__link {
	display: inline-block;
	padding-left: 25px;
	padding-right: 20px;
}

.applications__install__text {
	margin: 0 auto;
	align-content: center;
	color: #ffffff;
	padding-left: 37px;
	padding-right: 37px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

@media (max-width: 659px) {
	.applications__install__title {
		display: none;
	}
}

@media (min-width: $tablet-width) {
	.applications__install__button {
		padding: 10px 25px;
		background: none;
	}

	.applications__install {
		padding: 20px;
		position: absolute;
		width: 300px;
		background: none;
		top: 0;

		.applications__wrapper {
			margin-top: 30px;
			padding: 0;
		}
	}

	.applications__install__link {
		display: inline-block;
		padding-left: 20px;
	}

	.applications__install__title {
		margin: 0;
		align-content: center;
		text-align: center;
		color: #ffffff;
		font-size: 40px;
		line-height: 40px;
		font-weight: 300;
		padding: 35px 50px;
	}

	.applications__install__text {
		margin: 0;
		padding: 0;
		align-content: center;
		color: #ffffff;
		font-size: 18px;
		line-height: 24px;
		font-weight: 300;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.applications__image {
		width: 700px;
	}
}

@media (min-width: $desktop-width) {
	.applications__image {
		width: 1050px;
	}

	.applications__install__title {
		font-size: 50px;
		line-height: 50px;
	}
}
