.catalog {
	background-color: #ffffff;
}

.catalog__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.catalog__item {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	margin-top: 23px;
	width: 280px;
}

.catalog__title {
	font-size: 24px;
	line-height: auto;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	padding-left: 5px;
}

.catalog__invite {
	margin: 0;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	color: #283645;
	text-align: center;
	padding: 47px 34px;
}

.catalog__item--panorama {
	flex: none;
	width: 100%;
	margin-right: 0;
}

.catalog__image {
	display: block;

	&--panorama {
		width: 100%;
	}
}

.catalog__comment {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	background-color: #f2f2f2;
	padding: 5px 19px 0 17px;
	flex-grow: 1;
}

.catalog__blockquote {
	margin: 0;
	padding-left: 20px;
}

.catalog__author-name {
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #283645;
	font-style: normal;
}

.catalog__item-time {
	font-size: 12px;
	line-height: 24px;
	font-weight: 300;
	color: #283645;
	text-transform: uppercase;
}

.catalog__description {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #283645;
}

.catalog__like {
	display: flex;
	padding-bottom: 20px;
	margin-top: auto;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.catalog__like-text {
	font-size: 12px;
	line-height: 24px;
	color: #d22856;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 10px;
}

.catalog__like-button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.catalog__sticker {
	width: 139px;
	height: 36px;
	position: absolute;
	display: block;
	right: 7%;
	top: 0;
	background-color: #d22856;
}

.sticker__panorama {
	padding-left: 20px;
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

@media (max-width: $tablet-width-before) {
	.catalog__like {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
}

@media (min-width: $tablet-width) {
	.catalog__item {
		margin-left: 10px;
		margin-right: 10px;
		min-width: 300px;

		&--panorama {
			margin-right: 0;
			margin-left: 0;
		}
	}

	.catalog__comment {
		max-width: 620px;
	}

	.catalog__invite {
		font-size: 18px;
		padding: 100px 0;
	}

	.catalog__sticker {
		top: 10%;
	}

	.catalog__like--panorama {
		position: absolute;
		right: 10%;
		top: 10%;
	}

	.catalog__like-text--panorama {
		margin-right: 10px;
	}
}

@media (min-width: $desktop-width) {
	.catalog__item--panorama {
		margin-right: 0;
	}

	.catalog__comment {
		max-width: 940px;
	}
}
