.copyright {
	background-color: #ffffff;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

.copyright__link {
	vertical-align: middle;
}

.copyright__text {
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}
