.copyright {
	display: flex;
	align-items: center;
	background-color: #ffffff;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

.copyright__link {
	display: block;
	height: 34px;
}

.copyright__icon {
	width: 27px;
	height: 34px;
	color: rgba(210, 40, 86, 1);

	&:hover {
		color: rgba(40, 54, 69, 1);
	}

	&:active {
		color: rgba(40, 54, 69, 0.3);
	}
}

.copyright__text {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #283645;
	padding-right: 15px;
}

@media (min-width: $desktop-width) {
	.copyright__text {
		font-size: 18px;
	}
}
