@font-face {
	font-weight: 300;
	font-family: "Open Sans Pink";
	font-style: normal;
	src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
	font-display: fallback;
}

@font-face {
	font-weight: 400;
	font-family: "Open Sans Pink";
	font-style: normal;
	src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
	font-display: fallback;
}

@font-face {
	font-weight: 700;
	font-family: "Open Sans Pink";
	font-style: normal;
	src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
	font-display: fallback;
}
