.form {
	display: flex;
	flex-wrap: wrap;
	max-width: 940px;
	margin: 0 auto;
	background-color: #ffffff;
	align-items: baseline;
}

.form__title {
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	text-align: center;
	padding: 45px 20px 15px;
	margin: 0;
	color: #283645;
}

.form__fieldset {
	display: flex;
	width: 100%;
	border: solid 2px #e5e5e5;
	text-align: center;
	background-color: #ffffff;

	&--name {
		border: none;
	}
}

.form__emotions__text {
	width: 100%;
	font-size: 18px;
	line-height: 30px;
	color: #283645;
	font-weight: 400;
	padding: 15px 18px 0;
	border: solid 2px #e5e5e5;
	min-height: 200px;

	&:hover {
		border: solid 2px #283645;
	}

	&:active {
		border: solid 2px #d22856;
	}
}

.form__list {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

.form__item-label {
	width: 276px;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	color: #283645;
	text-align: left;
	font-weight: 400;
}

.form__item-list {
	margin-bottom: 18px;
	display: block;
}

.form__item-name {
	font-size: 14px;
	line-height: 30px;
	color: #d22856;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	padding-left: 22px;
	display: block;
	margin-bottom: 4px;
}

.form__legend {
	font-size: 14px;
	line-height: 18px;
	color: #d22856;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
}

.form__button {
	padding: 15px 35px 14px;
	border: 2px solid #2aab6d;
	border-radius: 2px;

	&:hover {
		background-color: #1c9b5e;
	}

	&:active {
		background-color: #1c9b5e;
		color: rgba(255, 255, 255, 0.3);
	}

	&:disabled {
		background-color: #e5e5e5;
		color: rgba(255, 255, 255, 1);
	}
}

.form__footer {
	width: 100%;
	display: flex;
	flex: none;
	justify-content: space-between;
	margin: 0 auto;
}

.form__asterisk {
	font-size: 14px;
	line-height: 30px;
	color: #d22856;
	font-weight: 400;
}

.form__footnote {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 14px;
	line-height: 30px;
	color: #283645;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	&--long {
		display: none;
	}
}

.form__input {

	// Текстовый инпут

	&--text {
		font-size: 18px;
		line-height: 30px;
		color: #283645;
		font-weight: 400;
		text-align: left;
		padding: 15px 20px 14px;
		border: solid 2px #e5e5e5;
		border-radius: 2px;
		width: 100%;

		&:hover {
			border: solid 2px #283645;
		}

		&:active {
			border: solid 2px #d22856;
		}
	}

	// Чекбокс

	&--checkbox {
		visibility: hidden;
		position: absolute;

		& ~ .form__item-label {
			position: relative;
			display: block;
			padding: 4px 0 0 68px;
			margin-bottom: 30px;

			&::after,
			&::before {
				content: "";
				display: block;
				position: absolute;
			}

			&::before {
				border: 2px solid #e5e5e5;
				width: 38px;
				height: 38px;
				left: 0;
				top: 0;
				background-color: #ffffff;
				border-radius: 2px;
			}

			&:hover::before {
				border-color: #283645;
			}
		}

		&:checked ~ .form__item-label::after {
			width: 22px;
			height: 22px;
			left: 8px;
			top: 8px;
			background-image: url("../img/icon-checkbox.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&:active ~ .form__item-label::before {
			border-color: #d22856;
		}
	}

	// Радиоэлемент

	&--radio {
		visibility: hidden;
		position: absolute;

		& ~ .form__item-label {
			position: relative;
			display: block;
			padding: 4px 0 0 68px;
			margin-bottom: 23px;

			&::after,
			&::before {
				content: "";
				display: block;
				position: absolute;
				border-radius: 50px;
			}

			&::before {
				border: 2px solid #e5e5e5;
				width: 38px;
				height: 38px;
				left: 0;
				top: 0;
				background-color: #ffffff;
			}

			&:hover::before {
				border-color: #283645;
			}
		}

		&:checked ~ .form__item-label::after {
			width: 16px;
			height: 16px;
			left: 11px;
			top: 11px;
			background-color: $hover-color-red;
		}

		&:active ~ .form__item-label::before {
			border-color: #d22856;
		}
	}
}

.form__modal {
	display: none;
}

@media (max-width: $tablet-width-before) {
	.form__title {
		order: 1;
	}

	.form__title-second {
		display: none;
	}

	.form__fieldset {
		position: relative;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding: 30px 20px 25px;
		border: none;

		&--name {
			order: 2;
			padding: 20px;
		}

		&--progress {
			order: 3;
			padding-top: 114px;
			padding-bottom: 0;
			background-color: #f2f2f2;
			margin-top: 4px;

			.form__legend {
				position: absolute;
				top: 38px;
				left: 0;
				width: 100%;
				padding-left: 40px;
				padding-right: 40px;
			}
		}

		&--contacts {
			order: 4;

			.form__legend {
				display: none;
			}

			.form__item-list {
				display: flex;
				flex-direction: column-reverse;
			}
		}

		&--app {
			order: 5;
			padding-top: 109px;
			padding-bottom: 6px;
			background-color: #f2f2f2;

			.form__legend {
				position: absolute;
				top: 38px;
				left: 0;
				width: 100%;
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		&--emotions {
			order: 6;
			padding-top: 72px;
			padding-bottom: 20px;

			.form__legend {
				position: absolute;
				top: 38px;
				left: 0;
				width: 100%;
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}

	.form__footer {
		flex-direction: column;
		order: 7;
		margin-top: 30px;
		padding: 0 20px;
	}

	.form__footnote {
		flex: none;
		margin-top: 35px;
	}
}

@media (min-width: $tablet-width) {
	.form__title {
		font-size: 18px;
		line-height: 30px;
		padding: 92px 70px 32px;
	}

	.form__legend {
		padding-left: 25px;
		padding-right: 25px;
	}

	.form__fieldset {
		margin-left: 20px;
		margin-right: 20px;
		padding: 35px 20px;

		&--name {
			padding: 20px 0 22px;

			.form__item-list {
				display: flex;
				align-items: center;
				padding-top: 18px;
				padding-bottom: 17px;
			}

			.form__item-name {
				padding-left: 0;
				margin-bottom: 0;
				margin-right: 18px;
			}
		}

		&--app {
			padding-left: 58px;
			padding-top: 45px;
			padding-bottom: 16px;
			margin-bottom: 57px;
			padding-right: 58px;

			.form__legend {
				padding: 0 25px;
			}

			.form__item-label {
				padding-left: 60px;
				padding-top: 4px;
			}
		}

		&--contacts {
			padding: 38px 58px 20px;
			margin-bottom: 57px;

			.form__legend {
				padding: 0 30px;
			}

			.form__item-list {
				margin-bottom: 24px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.form__item-name {
				padding-top: 11px;
				padding-left: 19px;
			}
		}

		&--progress {
			padding-left: 58px;
			padding-top: 45px;
			padding-bottom: 23px;
			margin-bottom: 57px;
			padding-right: 59px;

			.form__legend {
				padding: 0 32px;
			}

			.form__item-label {
				padding-left: 60px;
				padding-top: 4px;
			}

			.form__item-list {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&--emotions {
			padding: 38px 58px 50px;
			margin-bottom: 57px;

			.form__legend {
				padding: 0 38px;
			}
		}

		.form__emotions__text {
			line-height: 29px;
			min-height: 192px;
		}
	}

	.form__list {
		width: 100%;
	}

	.form__item-list input[type="tel"],
	.form__item-list input[type="email"] {
		box-sizing: border-box;
		padding-right: 50px;
	}

	.form__input--phone {
		display: flex;
		background-image: url("../img/icon-phone.svg"), linear-gradient(to left, #e5e5e5, #e5e5e5 60px, transparent 60px, transparent);
		background-position: right 20px center, left;
		background-repeat: no-repeat, repeat;
		background-size: auto, auto;
	}

	.form__input--email {
		background-image: url("../img/icon-mail.svg"), linear-gradient(to left, #e5e5e5, #e5e5e5 60px, transparent 60px, transparent);
		background-position: right 20px center, left;
		background-repeat: no-repeat, repeat;
		background-size: auto, auto;
	}

	.form__button {
		padding: 15px 55px;
	}

	.form__footer {
		padding: 13px 20px;
		margin-bottom: 44px;
	}

	.form__footnote {
		padding-top: 5px;
	}
}

@media (min-width: $desktop-width) {
	.form {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.form__title {
		padding-bottom: 70px;
	}

	.form__fieldset {
		margin: 0;
		padding: 0;

		&--name {
			flex: none;
			width: 435px;

			.form__item-list {
				padding-top: 14px;
				padding-bottom: 21px;
			}
		}

		&--app {
			flex: none;
			width: 435px;

			.form__list {
				padding: 47px 75px 20px;
			}

			.form__item-label {
				padding-left: 58px;
				padding-top: 3px;
			}
		}

		&--contacts {
			margin-top: 18px;

			.form__list {
				padding: 34px 57px 7px;
				flex-direction: row;
				display: flex;
				justify-content: space-between;
				width: 100%;
			}

			.form__item-list {
				margin-bottom: 0;
			}
		}

		&--progress {
			margin-top: 59px;

			.form__list {
				padding: 44px 0 12px 58px;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: flex-start;
			}

			.form__item-list {
				width: 315px;
				margin-bottom: 19px;

				&:nth-child(odd) {
					order: 1;
				}

				&:nth-child(even) {
					order: 2;
				}

				&:nth-child(3n),
				&:nth-child(4n) {
					width: 295px;
				}

				&:nth-child(5n),
				&:nth-child(6n) {
					width: 225px;
				}
			}
		}

		&--emotions {
			margin-top: 57px;
			padding: 34px 58px 43px;

			.form__emotions__text {
				min-height: 128px;
			}
		}
	}

	.form__list {
		.form__item-list input[type="tel"],
		.form__item-list input[type="email"] {
			width: 375px;
		}

		.form__input--phone {
			flex-direction: column;
		}

		.form__input--email {
			flex-direction: column;
		}
	}

	.form__footnote--short {
		display: none;
	}

	.form__footnote--long {
		display: block;
	}

	.form__footer {
		margin-top: 53px;
		padding: 10px 0;
		margin-bottom: 13px;
	}
}
