.page-header {
	position: relative;
	margin-bottom: -70px;
	top: 0;
	left: 0;
	z-index: 100;
	min-height: 51px;
	display: flex;
	flex-direction: column;
	background-color: $bg-darkblue;
	width: 100%;
}

.page-header__logo {
	display: block;
	width: 320px;
	max-height: 260px;
	padding: 22px 20px;
}

.page-header__logo img {
	width: 75px;
	height: 20px;
}

.main-nav__toggle {
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 2;
	width: 90px;
	height: 50px;
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
}

.main-nav--closed .main-nav__toggle::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 17px;
	width: 50px;
	height: 4px;
	background-color: #ffffff;
	box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:hover::before {
	background-color: $hover-color-red;
	opacity: 1;
	box-shadow: 0 8px 0 0 rgba(210, 40, 86, 1), 0 16px 0 0 rgba(210, 40, 86, 1);
}

.main-nav--closed .main-nav__toggle:active::before {
	background-color: rgba(210, 40, 86, 0.3);
	box-shadow: 0 8px 0 0 rgba(210, 40, 86, 0.3), 0 16px 0 0 rgba(210, 40, 86, 0.3);
}

.main-nav--opened .main-nav__toggle {
	position: absolute;
	right: 0;
	z-index: 2;

	&::after,
	&::before {
		content: "";
		position: absolute;
		top: 24px;
		right: 18px;
		width: 36px;
		height: 4px;
		background-color: #ffffff;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}

	&:hover::after,
	&:hover::before {
		background-color: $hover-color-red;
	}

	&:active::after,
	&:active::before {
		background-color: rgba(210, 40, 86, 0.3);
	}
}

.site-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-list__item {
	text-align: center;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(0, 0, 0, 1);
	margin-top: 1px;
}

.site-list__item:nth-child(4n) {
	margin-bottom: 1px;
}

.site-list__link {
	width: 100%;
	display: inline-block;
	vertical-align: baseline;
	padding-top: 23px;
	padding-bottom: 23px;
	font-size: 18px;
	line-height: 32px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

@media (min-width: $tablet-width) {
	.page-header {
		margin-bottom: -110px;
	}

	.page-header__logo {
		display: block;
		min-height: 110px;
		padding: 40px 20px;
	}

	.main-nav__toggle {
		top: 30px;
	}
}

@media (min-width: $desktop-width) {
	.page-header__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 0 auto;
	}

	.page-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: nowrap;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(29, 38, 50, 0.3);
	}

	.main-nav__toggle {
		display: none;
	}

	.main-nav__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		width: 680px;
		margin: 0 auto;
		flex-grow: 1;
	}

	.site-list__item {
		box-shadow: none;
	}
}

@media (max-width: $tablet-width-only) {
	.main-nav--closed .site-list__item {
		display: none;
	}

	.page-header.main-nav--closed {
		background-color: rgba(29, 38, 50, 0.3);
	}

	.main-nav--nojs .main-nav__toggle {
		display: none;
	}

	.main-nav--nojs .site-list__item {
		display: block;
		text-align: center;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(0, 0, 0, 1);
		margin-top: 1px;
		background-color: $bg-darkblue;
	}

	.main-nav--nojs .site-list__item:nth-child(4n) {
		margin-bottom: 1px;
	}
}
