.page-main {
	position: relative;
	margin: 0;
	padding: 0;
}

.bg-wrapper {
	background-size: 780px auto;
	background-position: center 21px;
	padding-top: 180px;
	width: 100%;
	background-color: $bg-darkblue;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat;
	color: #ffffff;
	overflow: hidden;

	&--photo {
		padding-top: 95px;
	}
}

.page-main__title {
	max-width: 940px;
	margin: 0 auto;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	color: #ffffff;
	padding: 6px 10px 80px;
	text-align: center;
}

.main-nav__toggle {
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 2;
	width: 90px;
	height: 50px;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
	.bg-wrapper {
		background-image: url("../img/bg-back-mobile@2x.jpg");
		background-size: 640px auto;
	}
}

@media (min-width: $mobile-width-after) and (max-width: $desktop-width) {
	.bg-wrapper {
		background-image: url("../img/bg-back-tablet@1x.jpg");

		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("../img/bg-back-tablet@2x.jpg");
			background-size: 1200px auto;
		}
	}
}

@media (min-width: $tablet-width) {
	.main-nav__toggle {
		top: 20px;
	}

	.bg-wrapper {
		background-position: 50% 0;
		background-size: auto;
		padding-top: 43px;
	}

	.page-main__title {
		font-size: 50px;
		line-height: 60px;
		font-weight: 300;
		padding-bottom: 140px;
		padding-top: 136px;
	}
}

@media (min-width: $desktop-width) {
	.bg-wrapper {
		padding-top: 162px;
		background-image: url("../img/bg-back-desktop@1x.jpg");

		&--photo {
			padding-top: 37px;
			min-height: 394px;
		}

		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("../img/bg-back-desktop@2x.jpg");
			background-size: 2560px auto;
		}
	}

	.page-main__title {
		font-size: 50px;
		line-height: 60px;
		font-weight: 300;
		padding-bottom: 20px;
		padding-top: 136px;
	}
}
