.page-footer {
	max-width: 940px;
	margin: 0 auto;
}

@media (min-width: $desktop-width) {
	.page-footer {
		max-width: 980px;
	}

	.page-footer__social {
		padding: 22px 21px 0;
	}

	.page-footer__logo {
		padding-bottom: 20px;
	}
}
