.page-main {
	position: relative;
	margin: 0;
	padding: 0;
}

.bg-wrapper {
	width: 100%;
	background-color: $bg-darkblue;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	color: #ffffff;
	padding-top: 77px;
}

.page-main__title {
	font-size: 24px;
	line-height: 24px;
	font-weight: 300;
	color: #ffffff;
	margin: 0;
	padding: 50px 0;
	text-align: center;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
	.bg-wrapper {
		background-image: url("../img/bg-back-mobile@2x.jpg");
		background-size: 640px auto;
	}
}

@media (min-width: $mobile-width-after) and (max-width: $desktop-width) {
	.bg-wrapper {
		background-image: url("../img/bg-back-tablet@1x.jpg");

		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("../img/bg-back-tablet@2x.jpg");
			background-size: 1200px auto;
		}
	}
}

@media (min-width: $tablet-width) {
	.page-main__title {
		font-size: 50px;
		line-height: 50px;
		font-weight: 300;
	}
}

@media (min-width: $desktop-width) {
	.bg-wrapper {
		background-image: url("../img/bg-back-desktop@1x.jpg");

		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("../img/bg-back-desktop@2x.jpg");
			background-size: 2560px auto;
		}
	}
}
