.page-main {
	position: relative;
	margin: 0;
	padding: 0;
}

.page-main__bg {
	width: 100%;
	// min-height: 462px;
	background-color: $bg-darkblue;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	color: #ffffff;
	padding-top: 110px;
}

.page-main__title {
	margin: 0;
	padding-top: 100px;
	padding-bottom: 150px;
	text-align: center;
}


@media (min-width: $mobile-width-after) and (max-width: $desktop-width) {
	.page-main__bg {
		background-image: url("../img/bg-back-tablet@1x.jpg");
	}
}

@media (min-width: $desktop-width) {
	.page-main__bg {
		background-image: url("../img/bg-back-desktop@1x.jpg");
	}
}
