.reviews {
	background-color: #ffffff;
}

.reviews__item {
	margin: 0;
	padding: 0;
}

.reviews__author-name {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	font-style: normal;
	padding-top: 45px;
	padding-left: 80px;
}

.reviews__text {
	margin: 0;
	padding-top: 25px;
	padding-bottom: 40px;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	text-align: center;
	color: #283645;
}
