.social {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
}

.social__link {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 3px solid rgba(40, 54, 69, 0.1);
	margin-left: 8px;
	margin-right: 8px;
	color: rgba(210, 40, 86, 1);

	&:hover {
		border: 3px solid rgba(40, 54, 69, 1);
	}

	&:active {
		border: 3px solid rgba(40, 54, 69, 0.1);
		color: rgba(210, 40, 86, 0.3);
	}
}

.page-footer__logo {
	color: #283645;
	cursor: pointer;
}

@media (max-width: $tablet-width-before) {
	.page-footer__social.container-hide {
		display: none;
	}
}

@media (min-width: $mobile-width) {
	.page-footer__social {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: center;
		align-items: center;
	}
}
