.tariffs {
	max-width: 940px;
}

.tariffs__table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.tariffs__list {
	background-color: #283645;
	color: #ffffff;
	border-width: 0 2px;
	border-style: solid;
	border-color: #e5e5e5;

	&--hidden {
		visibility: hidden;
	}
}

.tariffs__name {
	margin: 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 20px;
}

.tariffs__price {
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.tariffs__options {
	border: 2px solid #e5e5e5;
	background-color: #ffffff;
	color: #283645;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.tariffs__options-name {
	text-transform: uppercase;
}

@media (max-width: $tablet-width-before) {
	.tariffs__list {
		width: 80vw;
	}

	.tariffs__mobile--hidden {
		display: none;
	}
}

@media (min-width: $tablet-width) {
	.tariffs__options {
		text-align: center;

		&:first-child {
			text-align: left;
		}
	}

	.tariffs__name {
		font-size: 16px;
	}

	.tariffs__price {
		font-size: 18px;
	}

	.tariffs__options-name {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		white-space: nowrap;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}

@media (min-width: $desktop-width) {
	.tariffs__name {
		font-size: 18px;
	}

	.tariffs__price {
		font-size: 24px;
	}

	.tariffs__options {
		font-size: 18px;
	}
}
