.tariffs {
	position: relative;
	background-color: #f2f2f2;
	padding-top: 90px;
}

.tariffs__table {
	max-width: 940px;
	margin: 0 auto;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	empty-cells: hide;
}

.tariffs__column {
	position: relative;
	background-color: #283645;
	color: #ffffff;
	border-width: 0 2px;
	border-style: solid;
	border-color: #e5e5e5;
	background-clip: padding-box;

	&--hidden {
		visibility: hidden;
		border-left-color: transparent;
	}
}

.tariffs__name {
	margin: 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 16px;
}

.tariffs__price {
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.tariffs__options {
	position: relative;
	border: 2px solid #e5e5e5;
	background-color: #ffffff;
	color: #283645;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	padding: 13px 20px 15px;
	background-clip: padding-box;
}

.tariffs__options-name {
	text-transform: uppercase;
}

.tariffs__promo {
	position: absolute;
	top: 0;
	left: 0;
}

.tariffs__hit {
	position: absolute;
	top: 14px;
	left: 11%;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	transform: rotate(-45deg);
}

.tariffs__icon-hit--tablet {
	display: none;
}

.tariffs__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

@media (max-width: $tablet-width-before) {
	.tariffs__options-icon {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	.tariffs__column {
		width: 86.4vw;
	}

	.tariffs__mobile--hidden {
		display: none;
	}

	// Слайдер //

	.tariffs {
		overflow: hidden;
	}

	.tariffs__table {
		transition-property: transform;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
	}

	.slider__controls--tariffs-position {
		margin-top: 40px;
	}

	.slider-checked-item--1:checked ~ .tariffs__table {
		transform: translateX(calc(7.2vw - 2px));
	}

	.slider-checked-item--2:checked ~ .tariffs__table {
		transform: translateX(calc(-79.1vw - 2px));
	}

	.slider-checked-item--3:checked ~ .tariffs__table {
		transform: translateX(calc(-165.4vw - 2px));
	}

	// ----
}

@media (min-width: $tablet-width) {
	.tarrifs {
		padding-top: 95px;
		padding-bottom: 70px;
	}

	.tariffs__wrapper {
		margin-left: 22px;
		margin-right: 22px;
	}

	.tariffs__options {
		text-align: center;
		padding: 5px 12px;

		&:first-child {
			text-align: left;
		}
	}

	.tariffs__name {
		font-size: 16px;
		padding-top: 12px;
	}

	.tariffs__price {
		padding: 0;
		font-size: 18px;
	}

	.tariffs__options-name {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		white-space: nowrap;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	.slider__controls--tariffs-position {
		display: none;
	}

	.tariffs__hit {
		top: 15px;
		left: 14%;
	}

	.tariffs__icon-hit--mobile {
		display: none;
	}

	.tariffs__icon-hit--tablet {
		display: block;
	}
}

@media (min-width: $desktop-width) {
	.tariffs__name {
		font-size: 18px;
	}

	.tariffs__price {
		font-size: 24px;
	}

	.tariffs__options {
		font-size: 18px;
	}
}
