.upload {
	max-width: 940px;
	margin: 0 auto;
}

.upload__title {
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	color: #283645;
	text-align: center;
	margin: 0;
	padding: 23px 20px 42px;
}

.upload__form {
	display: flex;
	background-color: #f2f2f2;
}

.upload__preview {
	text-align: center;
	flex-shrink: 0;
	padding: 20px;
}

.upload__editor {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
}

.upload__image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.upload__list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

.upload__lever {
	color: #d22856;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.upload__lever-label {
	width: 50px;
	text-align: center;
}

.upload__controls {
	display: flex;
	align-items: center;
	justify-content: center;
}

.upload__lever-range {
	width: $track-width;
	margin: 30px;
	background: transparent;
	flex-grow: 1;
}

.upload__lever-range__track {
	width: $track-width;
	height: $track-height;
	cursor: pointer;
	box-shadow: none;
	background: $track-color;
	border-radius: $track-radius;
	border: $track-border-width solid $track-color;

	&:focus-within {
		background: $track-color-focus;
	}
}

.upload__lever-range__thumb {
	box-shadow: none;
	border: $thumb-border-width solid $thumb-border-color;
	height: $thumb-height;
	width: $thumb-width;
	border-radius: $thumb-radius;
	background: $thumb-bg;
	cursor: pointer;
	margin-top: -$thumb-height/2 - $track-height/2;
	margin-left: -$thumb-width/2;
	box-sizing: border-box;
	position: relative;

	&:active {
		background: $thumb-bg-active;
	}
}

.upload__operation {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-top: 26px;
	margin-bottom: 23px;
}

.upload__button {
	display: block;
	width: 280px;
	margin-top: 11px;
	padding: 15px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-align: center;
	background-color: transparent;
	border-radius: 50px;

	&--done {
		color: #d22856;
		border: 3px solid #d22856;

		&:hover {
			color: rgba(255, 255, 255, 1);
			background-color: #d22856;
		}

		&:active {
			color: rgba(255, 255, 255, 0.3);
		}
	}

	&--cansel {
		color: rgba(40, 54, 69, 0.1);
		border: 3px solid rgba(40, 54, 69, 0.1);

		&:hover {
			color: rgba(40, 54, 69, 0.3);
			border: 3px solid rgba(40, 54, 69, 0.3);
		}

		&:active {
			color: rgba(255, 255, 255, 0.3);
			background-color: #283645;
			opacity: 0.3;
		}
	}
}

@media (max-width: $tablet-width-before) {
	.upload__form {
		flex-direction: column;
		align-items: stretch;
	}

	.upload__lever {
		display: none;
	}

	.upload__editor-item--1:checked ~ .upload__list .upload__lever:nth-child(1),
	.upload__editor-item--2:checked ~ .upload__list .upload__lever:nth-child(2),
	.upload__editor-item--3:checked ~ .upload__list .upload__lever:nth-child(3) {
		display: flex;
	}

	.upload__lever-label {
		display: none;
	}

	.upload__lever-range {
		margin: 30px 20px;
	}
}

@media (min-width: $tablet-width) {
	.upload__title {
		font-size: 18px;
		line-height: 30px;
		padding: 44px;
	}

	.upload__form {
		margin-top: 25px;
		padding-top: 25px;
		padding-bottom: 34px;
	}

	.upload__preview {
		margin-top: 12px;
	}

	.upload__lever-range {
		margin: 31px 18px 31px 20px;
	}

	.upload__controls {
		display: none;
	}

	.upload__lever-label {
		width: 55px;
	}

	.upload__lever-icon {
		width: 22px;
		text-align: center;
	}

	.upload__operation {
		margin-top: 0;
		margin-bottom: 0;
    align-self: stretch;
		margin-left: 7px;
		margin-right: 13px;
	}

	.upload__button {
		width: 100%;
		margin-top: 25px;
	}
}

.upload__controls-item {
	position: relative;
	display: block;
	cursor: pointer;
	color: #283645;
	opacity: 0.3;
	margin: 0 15px;
	width: 50px;
	text-align: center;

	&:hover {
		opacity: 0.5;
	}

	&:active {
		color: #d22856;
		opacity: 1;
	}
}

.upload__editor-item--1:checked ~ .upload__controls .upload__controls-item--1,
.upload__editor-item--2:checked ~ .upload__controls .upload__controls-item--2,
.upload__editor-item--3:checked ~ .upload__controls .upload__controls-item--3 {
	color: #d22856;
	opacity: 1;
}

@media (min-width: $desktop-width) {
	.upload__title {
		margin: 0;
		padding: 6px 20px 66px;
	}

	.upload__form {
		margin: 0;
		padding: 25px 60px 37px;
	}

	.upload__editor {
		padding: 20px 0px 20px 70px;
	}

	.upload__lever-label {
		width: 100px;
		text-align: left;
	}

	.upload__lever-range {
    margin: 31px 30px 31px 20px;
	}

	.upload__lever-icon {
		width: 44px;
	}

	.upload__operation {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
	}

	.upload__button {
		width: 183px;
		margin-top: 0;
	}
}
