.advantages {
	background-color: #f2f2f2;
}

.advantages__slogan {
	margin: 0;
	font-size: 24px;
	font-weight: 300;
	padding-top: 40px;
	padding-left: 55px;
	padding-right: 55px;
	text-align: center;
	background-color: #ffffff;
}

.advantages__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.advantages__item {
	padding-top: 1px;
}

.advantages__title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	color: #000000;
}

.advantages__description {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	color: #000000;
}

.advantages__image:last-child {
	background-image: url("source\img\iphone screen #3.png");
}
