.page-header {
	position: relative;
	background-color: $nav-item-bg;
	color: #ffffff;
	z-index: 1000;
	margin-bottom: -65px;
}

.site-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-list__item {
	text-align: center;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(0, 0, 0, 1);
	margin-top: 1px;
}

.site-list__item:nth-child(4n) {
	margin-bottom: 1px;
}

.site-list__link {
	width: 100%;
	display: inline-block;
	vertical-align: baseline;
	padding-top: 22px;
	padding-bottom: 22px;
	font-size: 18px;
	line-height: 32px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.logo--light {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 1);
	padding-left: 20px;
	padding-top: 22px;
	padding-bottom: 22px;
}
