$bg-darkblue: #283645;
$bg-lightgrey: #f2f2f2;
$bg-white: #ffffff;
$hover-color-red: #d22856;

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
$tablet-width-only: 1199px;
$mobile-width-after: 321px;
$tablet-width-before: 659px;
