$bg-darkblue: #283645;
$bg-lightgrey: #f2f2f2;
$bg-white: #ffffff;
$hover-color-red: #d22856;

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
$tablet-width-only: 1199px;
$mobile-width-after: 321px;
$tablet-width-before: 659px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Оформление элемента управления
$thumb-bg: #ffffff;
$thumb-bg-active: #cf2c57;
$thumb-radius: 14px;
$thumb-height: 14px;
$thumb-width: 14px;
$thumb-border-width: 2px;
$thumb-border-color: #cf2c57;

// Оформление трека
$track-color: #283747;
$track-color-focus: #283747;
$track-width: 100%;
$track-height: 2px;
$track-border-width: 0;
$track-radius: 0;
